html{height: 100%;}
body{height: 100%;}
#root{height: 100%;}
.App{height: 100%;}
.App {
  text-align: center;
  height:100%;
  overflow-x:scroll ;
  
}
.ShowView{
  height:40%;
}
.main-container{
  display:flex;
  /* flex-wrap: wrap; */
  flex-flow: nowrap;
  overflow-y: scroll;
  height: fit-content;
}
.card1{
  margin:40px;
  height: fit-content;
  width: fit-content;
  box-shadow: black 2px 2px 20px -4px;
  filter: grayscale(0.5);
  
}
.card1:hover{
  cursor: pointer;
  transform: scale(1.05);
  transition: 200ms ease ;
  box-shadow: black 2px 6px 39px -10px;
  filter: grayscale(0);

}
.card1>img{
  height: 40%;
}


.ShowView{
  display: flex;
  justify-content: space-evenly;
  
}
.ShowView>img{
  height: 100%;
}
#title-summary{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#summary{
  margin-top: 30px;  
  overflow: hidden scroll;
}